* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
}
div {
  width: 100vw;
}

@import "./nav";
@import "./home";
@import "./foot";
@import "./board";
@import "./board2";
@import "./input";
@import "./about";
@import "./section";
@import "./load";
@import "./manual";

@media (max-width: 800px) {
  html {
    font-size: 11px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 8px;
  }
}
